@mixin navLi($colorLetra, $spaceRight, $spaceLeft, $FontFamily) {
    list-style: none;
    color: $colorLetra;
    padding-left: $spaceRight;
    padding-right: $spaceLeft;
    font-family: $FontFamily;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform:capitalize;
    
}