@import "varFuentes";
@import "varColores";
@import "mixins.scss";
@import "varUnidadMedida.scss";
@import "extends.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    
}
a{
    text-decoration: none;  
}
html{
    overflow-x: hidden;
}

.welcomeContenedor{
    display: flex;
    background-color: $colorFondoHeaderFooter;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%;

    .welcomeArticleContenedor{
        height: 30%;
        width: 30%;

        .welcomeDivContenedor{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;

            .welcomeImg{
                height: 100%;
                width: 100%;
                
            }
            .welcomeImg img{
            border-radius: 100%;
            height: 100%;
                width: 100%;
            }
            .welcomeImg img:hover{

            transform: scale(1.2, 1.2);
                transition: 1s;
            }
            .welcomeHdos{
                display: flex;
                width: 100%;
                height: 30%;
                justify-content: center;
                font-size: 30px;
                color: $colorLetrasDefault;
                font-family: $fuenteTitulos;

                .welcomeHdos h2{
                    height: max-content;
                }
                
            }



            }

            
        
    }
}


                   //// HOME////
            

.header{
    display: flex;
    background: $colorFondoHeaderFooter;
    height: 8rem;
    width: 100%;
    overflow: hidden;

    .logoContenedor{
        display: inline-flex;
        height: 100%;
        width: 20%;
    }

    .navContenedor{
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 80%;

        .navUl{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 10rem;
            height: 40%;
            width: 50%;

        }
        .navUL a{
            text-decoration: none;
        }
    
        .navUl li{
            @include navLi($colorLetrasDefault, $liSpaceRight, $liSpaceLeft, $fuentePrincipal );
        }
        
        .navUl li:hover{
            color:rgb(255, 187, 0);
            transition: 1s;
        }

    }
}
.divContenedorIdx{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px 600px ;
    grid-template-areas: "bienvenida"
                          "descripcion";

    background-color: #193C40;
    width: 100%;
    height: 100rem;

    .articleSaludo{

        grid-area: bienvenida;
        display: flex;
        align-items: center;
        justify-content: center;

        
        .sectionSaludo{
            display: flex;
            background:linear-gradient( to bottom, black, #193C40 );
            border-radius: 1rem ;
            height: 50%;
            width: 60%;
            justify-content: space-between;
            align-items: center;
        

            .imgSaludo{
                height: 100%;
                width: 60%;
                --animate-duration: 1.8s;
                animation-delay: 2s;
                animation-iteration-count: 2;


                img{
                    width: 100%;
                    height: 100%;
                }

            }
            .pSaludo{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right:5rem ;
                width: 50%;
                height: 100%;
                font-family: $fuentePrincipal;
                font-size: 2rem;
                font-weight: bolder;
                color: $colorLetrasDefault;
                text-align: left;
                width: 30%;
                right: 20rem;
        }
    
    }
}

    .sectionDescripcion{
        grid-area: descripcion;
        display:flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 15%;
            height: 50%;
            width: 50%;

            h2{
                height: 25%;
                font-family: $fuenteTitulos;
                color: rgb(255, 187, 0);
                font-size:5rem;
                font-weight: bold;
            }

            p{
                height: 75%;
                font-size: 2rem;
                font-family: $fuentePrincipal;
                color: $colorLetrasDefault;
                text-align: center;

                a{
                    color:$colorLetrasDefault;
                }
                a:hover{
                    color: $colorVarianteTitulos;
                    transition: 1s;
                }
                
            }
        }
    }
}
.footer{
    @extend %extendFooter; 
}
       //sobre mi//


       .contenedorSobreMi{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 600px 600px;
        grid-template-areas:"articleSobreMi__Uno"
                            "articleSobreMi__Dos"
                            ;
        background-color: $colorFondoMain;
        row-gap: 2rem;


        .sobreMi__uno{
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area:articleSobreMi__Uno ;
            height: 100%;
            width: 100%;

            .sectionSobreMi__uno{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80%;
                width: 80%;

                .sobreMiImg__uno{
                    height: 60%;
                    width: 50%;
                    animation-delay: 1s;

                    img{
                        
                        height:100%;
                        width: 100%;
                    }

                    
                }
                .sobreMiDescrip__uno{
                    padding-top: 14rem;
                    height: 100%;
                    width: 50%;

                    h2{
                        font-size: 4rem;
                        font-family: $fuenteTitulos;
                        color: $colorVarianteTitulos;
                    }
                    p{
                        font-size: 2rem;
                        font-family: $fuentePrincipal;
                        color: $colorLetrasDefault;

                        a{
                            color:$colorLetrasDefault
                        }
                        a:hover{
                            color: $colorVarianteTitulos;
                            transition: 1s;
                        }
                    }
                }
            }
        }
        .sobreMi__dos{
            grid-area: articleSobreMi__Dos;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            
            .sectionSobreMi__dos{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80%;
                width: 80%;
                overflow: hidden;

                .sobreMiDescrip__dos{
                    height: 100%;
                    width: 50%;

                    h2{
                        font-size: 4rem;
                        font-family: $fuenteTitulos;
                        color: $colorVarianteTitulos;
                    }
                    p{
                        font-size: 2rem;
                        font-family: $fuentePrincipal;
                        color: $colorLetrasDefault

                    }
                }

                .sobreMiImg__dos{
                    display: flex;
                    justify-content: center;
                    height: 70%;
                    width: 30%;
                    animation-delay:1.5s ;
                    
                    

                    img{
                        
                        display: inline-block;
                        position: relative;
                        left: 5rem;
                        
                        height: 100%;
                        width: 100%;
                        overflow:hidden;
                    }

                }

            }
        }

    }
    
    .footer{
        @extend %extendFooter;
    }
        


                        ///proyecto//
      

       .contenedorProyecto{
        height: 900px;
         background-color: $colorFondoMain;            

        .mainContenedorProyecto{
            
            display: flex;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;

            .articleContenedor{
                margin-top: 10rem;
                margin-bottom: 10rem;
                display: flex;
                height: 70%;
                width: 70%;
                align-items: center;
                
                .imgProyecto{
                    height: 90%;
                    width: 50%;
                    animation-delay: 1s;
                    animation-duration: 1s;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 4%;
                    }
                }
                .descripProyecto{
                    display: flex;
                    padding-right: 2rem;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                    width: 50%;

                    h2{
                        font-family: $fuenteTitulos;
                        text-transform: capitalize;
                        color: $colorVarianteTitulos;
                        font-size: 4rem;
                    }
                    p{
                        font-family: $fuentePrincipal;
                        color:$colorLetrasDefault;
                        font-size: 1.9rem
                    }

                }

                

            }
            
        }
        
    }
    .footer{
        
        @extend %extendFooter;
    }
    ////contacto///
    .contenedorContacto{
        height: 700px;
        background-color: $colorFondoMain;
        
        .mainContacto{
            display: flex;
            
            justify-content: center;
            align-items: center;

            .formContacto{
                background:linear-gradient( to bottom, #ffbb00, #193C40 );
                margin-top:10rem ;
                margin-bottom:10rem ;
                border-radius: 2%;
                height: 60%;
                width: 60%;

                h2{
                    margin-left:1rem;
                    font-size: 2rem;
                    color: $colorLetrasDefault;
                    font-family: $fuenteTitulos
                        
                    
                }
                
                
                .form-control{
                    width: 89%;
                    margin-left:1rem;
                    background-color: #ffffff26;;
                    border: #ffffff26;;
                }
                .form-label{
                    margin-left: 1rem;
                }
                .buttonSubmit{
                    display: flex;
                    height: 3rem;
                    width: 10rem;
                    align-items:center ;
                    justify-content: center;
                    button{
                        width: 50%;
                        color: rgba(255, 255, 255, 0.912);
                        border-radius: 15px;
                        border: 1px solid rgba(0, 0, 0, 0.522);
                        font-family: "Sulphur Point", sans-serif;
                        font-weight: bold;
                        background-color: rgba(0, 0, 0, 0.446);
                        }
                    }
                }
 
            }
            
            .footer{
                
            @extend %extendFooter;
        }
    }


    .contenedorError{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100vw;
        background-color: $colorFondoMain;

        .descripcionError{
            display: flex;
            flex-direction: column;
            height: 80%;
            width: 80%;
            justify-content: center;
            align-items: center;

            h1{
                color:$colorVarianteTitulos;
                font-family: 'concert one', cursive;
                font-size: 10rem;
            }
            h2{
                color: $colorLetrasDefault;
                font-family: $fuentePrincipal;
                font-size: 2rem;
            }





        }
        
        
    }
    .footer{
        @extend %extendFooter;
    }




@media only screen and (max-width: 1024px){

    .contenedorProyecto{
        .mainContenedorProyecto{
            .articleContenedor{
                height: 50%;
                width: 80%;

            }
        }
    }

}

@media only screen and (max-width: 768px){

    .header{
        .navContenedor{
            justify-content: flex-start;
            .navUl{
                justify-content: center;
                padding: 0;
                width: 100%;

                li{
                    @include navLi ($colorLetrasDefault, 1.5rem, 1.5rem, $fuentePrincipal);
                    font-size: 1.2rem;
                }

            }
        }
    }

    .divContenedorIdx{
        .articleSaludo{
            .sectionSaludo{
                width: 90%;

                .pSaludo{
                    padding-right: 2rem;
                    font-size: 1.8rem;
                    width: 40%;
                }
            }
        }
        .sectionDescripcion{
            div{
                height: 80%;
                width: 80%;
            }
        }
    }
    .footer{
        .sectionImgFooter{
            height: auto;
            width: 50%;
        }

    }
    .contenedorSobreMi{
        
        .sobreMi__uno{
            
            @include sobreMiUnoMix;
            .sobreMiImg__uno{
               
                img{
                    right: 11rem!important;

                }
            }
            .sobreMiDescrip__uno{
                top: 1.5rem !important;
                h2{
                    font-size: 3rem !important;
                }
                p{
                    font-size: 1.5rem !important;
                }
            }
        }
        .sobreMi__dos{
            @include sobreMiDosMIX;
            .sobreMiDescrip__dos{
                padding-top: 10rem;

                h2{
                    font-size: 3rem !important;
                }
                p{
                    font-size:1.5rem !important;
                }
            }
            .sobreMiImg__dos{
                display: flex !important;
                justify-content: center;
                right: 0!important;

                img{
                    left: 0!important;
                    width: 80%!important;

                }
            }
        }
    }
    .contenedorProyecto{
        @include contenedorProyectoMix;

        .mainContenedorProyecto{
            .articleContenedor{
                flex-direction: row !important;
                width: 70%!important;
            }
        }
    }
    .contenedorContacto{
        .mainContacto{
            .formContacto{
                .buttonSubmit{
                    width: 100%;

                }
            }
        }
    }
    .contenedorError{
        overflow-x: hidden;
        .descripcionError{
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 1.5rem;
            }
        }
      }



    

}
@media only screen and (max-width: 425px){
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:20rem;
        width: 100vw;
        
        .logoContenedor{
            height: 80%;
            width: 80%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .navContenedor{
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;

            .navUl{
                padding: 0;
            }
            
            
          
            .navUl li{
                @include navLi($colorLetrasDefault, 1.5rem, 1.9rem, $fuentePrincipal );
                font-size: 1rem;
            }
        } 
    }
    .divContenedorIdx{
        .articleSaludo{
            .sectionSaludo{
                flex-direction: column;
                width: 80%;
                height: auto;

                .imgSaludo{
                    height: 100%;
                    width: 100%;
                }

                .pSaludo{
                    padding: 0;
                    width: 80%;
                    height: 100%;
                    font-size: 1.5rem;

                }
            }
        }

        .sectionDescripcion{

            div{
                height: 100%;
                width:90%;

                h2{
                    font-size: 4rem;
                }
                p{
                    font-size: 1.8rem;

                    p:focus{
                        color: $colorVarianteTitulos;
                        transition: 0.8s;
                    }
                }


            }

        }
    
    }

    .footer{
        .sectionImgFooter{
            height: 80%;
            width: 100%;
        }
    }

    ///sobre mi

    .contenedorSobreMi{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 400px 400px; 
        grid-template-areas:"articleSobreMi__Uno"
                             "articleSobreMi__Dos";
        background-color: $colorFondoMain;  
        row-gap: 2rem;

        .sobreMi__uno{
            @include sobreMiUnoMix;
        }
        .sobreMi__dos{
            @include sobreMiDosMIX ;
        }
    }

    .contenedorProyecto{
        @include contenedorProyectoMix;
         .mainContenedorProyecto{
             .articleContenedor{
                 .descripProyecto{
                     width: 90%;
                     padding-left:2rem ;
                 }
             }
         }
    }
    .contenedorContacto{
        @include ContenedorContactoMIX;
    }
    .contenedorError{
        .descripcionError{
            h1{
                font-size: 5rem;
            }
            h2{
                font-size: 1.5rem;
            }
        }
      }

 }
 @media only screen and(max-width: 375px){
                
                    body{
                        overflow-x: hidden;
                
                    }
                
                    .welcomeContenedor{
                        height: 40rem;
                        width: 100%;
                
                        .welcomeArticleContenedor{
                            .welcomeDivContenedor{
                                .welcomeImg{
                                    width: 20rem;
                                }
                            }
                        }
                    }
                
                    .header{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height:20rem;
                        width: 100vw;
                        
                        .logoContenedor{
                            height: 80%;
                            width: 80%;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .navContenedor{
                            justify-content: inherit;
                            align-items: inherit;
                            padding: 0;
                            padding-right: 30px;
                            padding-left: 2rem;
                        
                            .navUl li{
                                @include navLi($colorLetrasDefault, 1rem, 1rem, $fuentePrincipal );
                                font-size: 1.05rem;
                            }
                        } 
                    }
                    .divContenedorIdx{
                        display: grid;
                        grid-template-columns: 100%;
                        grid-template-rows: 500px 400px;
                        grid-template-areas: "bienvenida"
                                              "descripcion";
                
                        .articleSaludo{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                
                            .sectionSaludo{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 70%;
                                height: 80%;
                
                                .imgSaludo{
                                    width: 120%;
                                    height: 50%;
                                }
                
                                .pSaludo{
                                    padding: 0;
                                    height: 50%;
                                    width: 100%;
                                    text-align: center;
                                    text-transform: capitalize;
                                    font-size: 1.7rem;
                                }
                                }
                        }
                
                
                        .sectionDescripcion{
                            grid-area: descripcion;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            justify-content: start;
                            align-items: center;
                
                            div{
                                height: 80%;
                                width: 70%;
                                
                                
                            h2{
                                font-size: 4rem;
                                }
                            p{
                
                                font-size: 1.5rem;
                            }
                          }
                        }
                
                          
                        
                        
                    }
                    .footer{
                           
                           flex-direction: column;
                           justify-content: center;
                           align-items: center;
                           height: 100%;
                           width: 100%;
                           background-color: $colorFondoHeaderFooter ;
                         
                               
                           .sectionImgFooter{
                               height: 50%;
                               width:  120%;
                   
                               img{
                                   
                                   right: 0rem;
                                   height: 100%;
                                   width: 100%;
                                   
                               }
                   
                           }
                           .sectionHDosFooter{
                               height: 50%;
                               width: 50%;
                               color: $colorLetrasDefault;
                               font-family:$fuentePrincipal;
                               text-align: center;
                               font-size: 0.7rem;
                           }
                    }
                
                
                        
                        
                        
                
                
                        /// sobre mi ////
                
                        .contenedorSobreMi{
                            display: grid;
                            grid-template-columns: 100%;
                            grid-template-rows: 400px 400px; 
                            grid-template-areas:"articleSobreMi__Uno"
                                                 "articleSobreMi__Dos";
                            background-color: $colorFondoMain;  
                            row-gap: 2rem;
                            
                            .sobreMi__uno{
                                grid-area: articleSobreMi__Uno;
                                display: flex;
                                align-items: center;
                                height: 100%;
                                width: 100%;
                
                                .sectionSobreMi__uno{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    height: 80%;
                                    width: 100%;
                
                                    .sobreMiImg__uno{
                                        height: 100%;
                                        width: 50%;
                
                                        img{
                                            display: inline-block;
                                            position: relative;
                                            height: 80%;
                                            top: 6rem;
                                            right: 7rem;
                                            width: 200%;
                                        }
                                    }
                                    .sobreMiDescrip__uno{
                                        display: inline-block;
                                        position: relative;
                                        bottom: 2rem;
                                        height: 100%;
                                        width: 50%;
                                        
                
                                        h2{
                                            font-family: $fuenteTitulos;
                                            font-size: 2rem;
                                            text-transform: capitalize;
                                            color: $colorVarianteTitulos;                         
                                        }
                
                                        p{
                                            font-family: $fuentePrincipal;
                                            font-size: 1rem ;
                                            color: $colorLetrasDefault;
                                            
                                        }
                
                                        
                                    }
                                }
                            }
                            .sobreMi__dos{
                                display: flex;
                                align-items: center;
                                grid-area: articleSobreMi__Dos;
                
                                .sectionSobreMi__dos{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 80%;
                                    width: 100%;
                
                                    .sobreMiDescrip__dos{
                                        height: 100%;
                                        width: 50%;
                                        padding-left: 1rem;
                                        top: 1rem;
                
                                        h2{
                                            font-family: $fuenteTitulos;
                                            font-size: 2rem;
                                            color: $colorVarianteTitulos;
                                        }
                                        p{
                                            font-family: $fuentePrincipal;
                                            font-size: 1rem;
                                            color: $colorLetrasDefault;
                                        }
                                    }
                                    .sobreMiImg__dos{
                                        display: inline-block;
                                        position: relative;
                                        right: 4rem;
                                        bottom: 2rem;
                                        height: 50%;
                                        width: 50%;
                
                                        img{
                                            height: 100%;
                                            width: 90%;
                                        }
                
                                    }
                                    
                                }
                
                            }
                            
                        }
                        .footer{
                            
                            .sectionImgFooter{
                                height: 80%;
                                width: 120%;
                    
                                img{
                                    
                                    right: 0rem;
                                    height: 100%;
                                    width: 100%;
                                    
                                }
                    
                            }
                            .sectionHDosFooter{
                                height: 50%;
                                width: 50%;
                                color: $colorLetrasDefault;
                                font-family:$fuentePrincipal;
                                text-align: center;
                                font-size: 0.7rem;
                            }
                        }
                            //proyecto//
                
                        
                        .contenedorProyecto{
                
                            .mainContenedorProyecto{
                                
                                .articleContenedor{
                                    justify-content: center;
                                    flex-direction: column ;
                                    
                                    .imgProyecto{
                                        height: 60%;
                                        width: 90%;
                                         
                                    }
                                    .descripProyecto{
                                        padding-left: 1rem;
                                        padding-top: 2rem;
                                        height: 50%;
                                        width: 70%;
                                        h2{
                                            font-size: 3rem;
                                        }
                                        p{
                                            font-size: 1.4rem;
                                        }
                                    }
                                    
                                }
                            }
                            .footer{
                                
                                .sectionImgFooter{
                                    height: 50%;
                                    width: 110%;
                        
                                    img{
                                        
                                        right: 0rem;
                                        height: 100%;
                                        width: 100%;
                                        
                                    }
                        
                                }
                        }
                                ////contacto///
                    }
                    .contenedorContacto{
                        .mainContacto{
                            .formContacto{
                                height: 70%;
                                width: 80%;
                    
                                .form-control{
                                    width: 80%;
                                }
                                .buttonSubmit{
                                    width: auto;
                                }
                            }
                        }
                    }
                    .footer{
                        .sectionImgFooter{
                            width: 120%;
                        }
                    }
                
                    .contenedorError{
                      .descripcionError{
                          h1{
                              font-size: 5rem;
                          }
                          h2{
                              font-size: 1.5rem;
                          }
                      }
                    }
                   
                
                
}











    




    


